@page
@using DataAccess.Models
@model IndexModel
@{
    List<Genre> genres = new List<Genre>();
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Berras Bio!</h1>
</div>
<div class="text-center"> 
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Åldersgräns</th>
            </tr>
        </thead>
        <tbody style="background-color: #f0f8ff">
            @foreach (Screening screening in Model.screenings)
            {
                <tr class="mv">
                    <td class="movie-name">@screening.Movie.Name</td>
                    <td>@foreach (var genre in screening.Movie.Genres)
                        {
                            <text>@genre.GenreName </text>
                        }
                    </td>
                    <td>@screening.Movie.AgeRestriction</td>
                    <td>@screening.DateTime.ToString("HH:mm")</td>
                    <td>
                            <form method="post">
                            <input type="hidden" asp-for="ScreeningModel.ScreeningId" value="@screening.ScreeningId"/>
                            <input type="hidden" asp-for="ScreeningModel.MovieName" value="@screening.Movie.Name"/>
                            <input type="hidden" asp-for="ScreeningModel.Description" value="@screening.Movie.Description"/>
                            <input type="hidden" asp-for="ScreeningModel.Runtime" value="@screening.Movie.Runtime"/>
                            <input type="hidden" asp-for="ScreeningModel.AgeRestriction" value="@screening.Movie.AgeRestriction"/>
                            <input type="hidden" asp-for="ScreeningModel.Genres" value="@screening.GenresAsString"/>
                            <input type="hidden" asp-for="ScreeningModel.DirectorName" value="@screening.Movie.Director.Name"/>
                            <input type="hidden" asp-for="ScreeningModel.Price" value="@screening.Price"/>
                            <input type="hidden" asp-for="ScreeningModel.ScreeningDate" value="@screening.DateTime"/>
                            <button type="submit">Köp Biljett</button>
                            </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>