@page
@model IndexModel
@{
    ViewData["Title"] = "Välkommen Till Berras Bio";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Till Berras Bio!</h1>
</div>
<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movies</th>
            </tr>
        </thead>
        <tbody style="background-color: #f0f8ff">
            @foreach (var movie in Model.movies)
            {
                <tr class=mv>
                    <td>
                        <button type="button">@movie.Name</button>
                    </td>
                </tr>
                <tr class=expandable>
                    <td>
                    @foreach (var genre in @movie.Genres)
                    {
                        <text>@genre.GenreName  </text>
                    }
                    </td>
                    <td>@movie.Runtime</td>
                    <td>@movie.AgeRestriction</td>
                    <td>@movie.Description</td>
                    <td>@movie.Director</td>
                </tr>
            }
        </tbody>
    </table>
</div>