@page
@using Core
@using DataAccess.Models
@model PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}
<div class="text-center">
    <h2>@Model.ScreeningModel.MovieName</h2>
    <h2>@Model.ScreeningModel.Description</h2>
    <h2>@Model.ScreeningModel.Runtime</h2>
    <h2>@Model.ScreeningModel.AgeRestriction</h2>
    <h2>@Model.ScreeningModel.Genres</h2>
    <h2>@Model.ScreeningModel.DirectorName</h2>
    <h2>@Model.ScreeningModel.ScreeningDate</h2>
    <form method="post">
        <input type="hidden" asp-for="ConfirmedOrderModel.ScreeningId" value="@Model.ScreeningModel.ScreeningId"/>
        <input type="number" asp-for="ConfirmedOrderModel.TicketAmount" min="1" max="50" placeholder="1"/>
    <h3>@Model.ScreeningModel.Price kr/st<button type="submit">Confirm Purchase</button></h3>
    </form>
</div>