@page
@using Core
@using DataAccess.Models
@model PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}
<div class="text-center">
    <h1 class="display-4">@Model.ScreeningModel.ScreeningId</h1>
</div>

<div class="text-center">
    <h2>@Model.ScreeningModel.MovieName</h2>
    <h2>@Model.ScreeningModel.Description</h2>
    <h2>@Model.ScreeningModel.Runtime</h2>
    <h2>@Model.ScreeningModel.AgeRestriction</h2>
    <h2>@Model.ScreeningModel.Genres</h2>
    <h2>@Model.ScreeningModel.DirectorName</h2>
    <h2>@Model.ScreeningModel.ScreeningDate</h2>
    <form method="post">
    <h3>@Model.ScreeningModel.Price:kr <button type="submit">Confirm Purchase</button></h3>
    </form>
</div>