@page
@using Core
@using DataAccess.Models
@model PurchaseModel
@{
    ViewData["Title"] = "Purchase";
}
<div class="text-center">
    <h1 class="display-4">@Model.ScreeningModel.ScreeningId</h1>
</div>

<div class="text-center">
    <h2 class="text-left">@Model.ScreeningModel.MovieName</h2>
    <h2 class="text-left">@Model.ScreeningModel.Description</h2>
    <h2 class="text-left">@Model.ScreeningModel.Runtime</h2>
    <h2 class="text-left">@Model.ScreeningModel.AgeRestriction</h2>
    <h2 class="text-left">@Model.ScreeningModel.Genres</h2>
    <h2 class="text-left">@Model.ScreeningModel.DirectorName</h2>
</div>